---
services:
  gitlab-runner:
    image: gitlab/gitlab-runner:alpine@sha256:6545d5d6ed9751610cd2543b7407ae2af14af8e6b824538b6e7067676b30c4cd
    container_name: gitlab-runner-${ENV}
    volumes:
      - ./config/config.toml:/etc/gitlab-runner/config.toml:ro
      - /var/run/docker.sock:/var/run/docker.sock
    restart: unless-stopped 
    labels:
      - com.centurylinklabs.watchtower.enable=false

    # trigger for ci = 8