---
services:
  gitlab-runner:
    image: gitlab/gitlab-runner:alpine@sha256:cf367f7a75bebad209cf57ad8587f87f9ef995d43298a386bfed4888c34c62e1
    container_name: gitlab-runner-${ENV}
    volumes:
      - ./config/config.toml:/etc/gitlab-runner/config.toml:ro
      - /var/run/docker.sock:/var/run/docker.sock
    restart: unless-stopped 
    labels:
      - com.centurylinklabs.watchtower.enable=false

    # trigger for ci = 8